// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #585747;
  text-align: center;
}

h2 {
  color: #D6D2D2;
  text-align: center;
}

hr {
  border: 2px solid green;
}

