<div id="main-bg">
<h1>Yes, we're a cheese shoppe.</h1>
<h2>Here's what we have in stock today:</h2>
<% @products.each do |product| %>
  <table class="table table-hover">
  <tr>
    <th><%= product.name %></th>
    <td>Only $<%= product.price %>!</td>
    <td><img src= <%= product.image %> class=img-circle ></td>
    <td><%= product.description %></td>
  </tr>
  </table>
<%end%>
</div>